<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="webapp/head"></head>
<body>
<nav th:replace="webapp/nav"></nav>
<div class="container">
    <h2 class="top-space-l">Usagers</h2>

    <div class="accordion top-space-l" id="accordionUsagers">
        <div class="card">
            <div class="card-header" id="headingOneUsager">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOneUsager" aria-expanded="true" aria-controls="collapseOneUsager">
                        Ajouter un usager
                    </button>
                </h5>
            </div>

            <div id="collapseOneUsager" class="collapse show" aria-labelledby="headingOneUsager" data-parent="#accordionUsagers">
                <div class="card-body">

                    <form onsubmit="newUsager()">
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="prenomUsager">Prenom*</label>
                                <input type="text" class="form-control" id="prenomUsager" placeholder="Prenom" required>
                            </div>
                            <div class="col form-group">
                                <label for="nomUsager">Nom*</label>
                                <input type="text" class="form-control" id="nomUsager" placeholder="Nom" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="adresseUsager">Adresse*</label>
                                <input type="text" class="form-control" id="adresseUsager" placeholder="Adresse" required>
                            </div>
                            <div class="col form-group">
                                <label for="mailUsager">Mail*</label>
                                <input type="email" class="form-control" id="mailUsager" placeholder="Mail" required>
                            </div>
                        </div>
                        <p><small>Les champs accompagnés d'un * sont obligatoires.</small></p>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                        </div>
                    </form>

                    <div id="usager-success" class="alert alert-success alert-dismissible fade show hide-alert" role="alert">
                        Usager enregistré.
                        <button type="button" class="close close-success" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div id="usager-danger" class="alert alert-danger alert-dismissible fade show hide-alert" role="alert">
                        Ajout impossible.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwoUsager">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoUsager" aria-expanded="false" aria-controls="collapseTwoUsager">
                        Liste des usagers
                    </button>
                </h5>
            </div>
            <div id="collapseTwoUsager" class="collapse" aria-labelledby="headingTwoUsager" data-parent="#accordionUsagers">
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Prénom</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Adresse</th>
                            <th scope="col">Mail</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="usager : ${usagers}">
                            <tr>
                                <!--/*@thymesVar id="usager" type="bibliotheque.model.Usager"*/-->
                                <td th:text="${usager.getPrenom()}"></td>
                                <td th:text="${usager.getNom()}"></td>
                                <td th:text="${usager.getAdresse()}"></td>
                                <td th:text="${usager.getMail()}"></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>